#viewerImage .iconBackground {
    color: rgba(0,0,0,0.8);
}

#viewerImage .iconForeground {
    color: #f2f2f2;
}

#viewerImage #viewerImageToolbar {
    padding: 2px;
    background-color: transparent;
    z-index: 9999999;
    position:fixed;
    bottom: 0;
    right: 0;
}

#viewerImage .rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#viewerImage .rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#viewerImage .rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#viewerImage .makeBlackAndWhite {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

#viewerImage .makeSepia {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
}

#viewerImage .make50Dark {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
}

#viewerImage .increaseContrast {
    -webkit-filter: contrast(200%);
    -moz-filter: contrast(200%);
}

#viewerImage .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
}