.btn, .btn:hover, .btn:focus, .btn:active, .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    outline: none !important;
    background-image: none;
    border-radius: 0;
}

@media print {
    #Toolbar {
        display: none;
    }
}

body, html {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    background-color: black !important;
}

.imgViewer {
    display: block;
    margin: auto auto;
}

#imageContent {
    max-width: 100%;
    max-height: 100%;
    display: none;
    margin: auto auto;
}

.iconBackground {
    color: rgba(0,0,0,0.8);
}

.iconForeground {
    color: #f2f2f2;
}

.transparentImageBackground {
    display: block !important;
    background: repeating-linear-gradient(45deg, #d5d5d5, #d5d5d5 10px, #a7a7a7 10px, #a7a7a7 20px);
}

#Toolbar {
    padding: 2px;
    background-color: transparent;
    z-index: 9999999;
    position:fixed;
    bottom: 0;
    right: 0;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.makeBlackAndWhite {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.makeSepia {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
}

.make50Dark {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
}

.increaseContrast {
    -webkit-filter: contrast(200%);
    -moz-filter: contrast(200%);
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
}