::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  -webkit-transform: scaleX(10);
  background-color: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: none;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #4e4f50;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(100, 108, 122, 0.84);
}

:active::-webkit-scrollbar-thumb {
  background: #aecff0;
}
