#htmlContent {
  overflow: auto;
  height: 100%;
}

.zoomSmallest {
    zoom:70%;
}

.zoomSmaller {
    zoom:80%;
}

.zoomSmall {
    zoom:90%;
}

.zoomDefault {
    zoom:100%;
}

.zoomLarge {
    zoom:110%;
}

.zoomLarger {
    zoom:120%;
}

.zoomLargest {
    zoom:130%;
}

