.btn, .btn:hover, .btn:focus, .btn:active, .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    outline: none !important;
    background-image: none;
    border-radius: 0;
}

@media print {
    #viewerToolbar {
        display: none;
    }
}

#viewerToolbar .iconBackground {
    color: rgba(0,0,0,0.8);
}

#viewerToolbar .iconForeground {
    color: #f2f2f2;
}

#viewerToolbar {
    padding: 2px;
    background-color: transparent;
    z-index: 9999999;
    position:fixed;
    bottom: 0;
    right: 0;
}

body, html {
    width: 100% !important;
    height: 100% !important;
}

#viewerContent {
    /*width: 100% !important;
    height: 100% !important;*/
    padding: 10px;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.zoomSmallest {
    zoom:70%;
}

.zoomSmaller {
    zoom:80%;
}

.zoomSmall {
    zoom:90%;
}

.zoomDefault {
    zoom:100%;
}

.zoomLarge {
    zoom:110%;
}

.zoomLarger {
    zoom:120%;
}

.zoomLargest {
    zoom:130%;
}