/*.perspectiveListContainer*/
table th.fileTitle {
    padding-left: 8px !important;
}

table .fileTitle {
    font-size: 14px;
    /*color: #333333;*/
    padding-left: 0 !important;
}

.tagButton .caret, .extTagButton .caret {
    border-top-color: white !important;
}

.tagButton {
    padding: 2px 4px 2px 4px !important;
    background: #008000 !important;
    color: white !important;
    margin: 1px;
    border: 0;
    z-index: 9999;
    border-radius: 5px !important;
    text-decoration: none  !important;
}

.extTagButton {
    padding: 2px 4px 2px 4px;
    background: #bbb !important;
    color: white !important;
    margin: 1px;
    border: 0;
    border-radius: 5px !important;
    text-decoration: none;
}

.fileButton {
    padding: 1px 12px 1px 1px;
    background-color: #E5E5E5;
    font-weight: normal;
    color: #222222;
    text-align: left;
    margin: 1px;
    border: #ddd solid 1px;
    z-index: 9999;
}

table.dataTable tr.even {
    background-color: white;
}

table.dataTable tr.odd {
    background-color: white;
}

.activeRow { background: #FFCC99 !important; }

table.dataTable tr.ui-selected {
    color: white;
    background: #1DD19F !important; /* 00b4ff #7BD8FF */
}

table.dataTable tr.odd td.sorting_1 { background-color: inherit; }
table.dataTable tr.odd td.sorting_2 { background-color: inherit; }
table.dataTable tr.odd td.sorting_3 { background-color: inherit; }
table.dataTable tr.even td.sorting_1 { background-color: inherit; }
table.dataTable tr.even td.sorting_2 { background-color: inherit; }
table.dataTable tr.even td.sorting_3 { background-color: inherit; }

table.dataTable thead th {
    border-bottom: 1px solid lightgray;
}

table.dataTable tfoot th {
    border-top: 1px solid lightgray;
}

table.dataTable tbody td {
    border-bottom: 1px solid lightgray;
}