node_modules
app/node_modules
app/dist
.tx
cordova
coverage
dll
docker
internals
resources
tests
# Keep the .git/HEAD file in order to properly report version
# .git/objects
.git
.github
.DS_Store
.idea
*.iml
.vscode
npm-debug.log.*
app/version.json
app/THIRD-PARTY.html
app/THIRD-PARTY.txt
web/dist
web/files
web/node_modules
web/LICENSE.txt
web/third-party.txt
web/sw-config.js
web/EULA.txt
.env
app/config
app/extconfig*
web/extconfig*
cordova/www/extconfig.js
app/aws-exports.js
app/graphql/*
app/models/*
app/**main.prod.js**
