{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb",
    "prettier",
    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["off", 2, { "SwitchCase": 1 }],
    "max-len": ["warn", { "code": 150 }],
    "react/jsx-indent": ["warn", 2],
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "compat/compat": "warn",
    "generator-star-spacing": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-console": "warn",
    "no-use-before-define": "off",
    "no-multi-assign": "off",
    "prefer-template": "off",
    "promise/param-names": "error",
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".ts", ".tsx"] }
    ],
    "react/jsx-indent-props": ["warn", 2],
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "warn",
    "react/destructuring-assignment": "off",
    "react/jsx-boolean-value": "off",
    "react/prop-types": ["off"]
  },
  "plugins": [
    "import",
    "promise",
    "compat",
    "react",
    "@typescript-eslint",
    "eslint-plugin-node"
  ],
  "globals": {
    "global": false,
    "Promise": false
  }
}
