developer.json
build.properties
.settings
CHANGELOG.TXT
runfirefox
runfirefoxbeta
/node_modules
docs
data/pro
data/ext/perspectiveOCRO
data/ext/editorNext
nwjsdata
data/node-webkit/locales
data/node-webkit/ffmpegsumo.dll
data/node-webkit/icudtl.dat
data/node-webkit/libEGL.dll
data/node-webkit/libffmpegsumo.so
data/node-webkit/libGLESv2.dll
data/node-webkit/credits.html
data/node-webkit/nw
data/node-webkit/nw.exe
data/node-webkit/nw.pak
data/node-webkit/debug.log
*.DS_Store
bower_components
data/Content
