node_modules
public/modules
builds
dll
cordova
web
web/files
release/app/node_modules
release/app/dist
src/node_modules
src/renderer/version.json
flow-typed
extensions/extensions/*
extensions/extensions-link/*
extensions/extensions-pro/*
extensions/tagspacespro/libs/*
extensions/tagspaces-pro-link/libs/*
.erb/dll
.erb/img
.erb/mocks
app/utils/js-webdav-client.js
coverage
tests/testdata
tests/testdata-tmp
tests/file-structure
tests/bin
.ycache
src/renderer/aws-exports.js
src/main/config/config.json
src/renderer/extension-config.ts
