/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * solarized-light style
 * made by rhio.kim
 * powered by http://ethanschoonover.com/solarized
 */
.clearness {
  padding: 20px;
  color: #737373;
  font-size: 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', Verdana, Tahoma, sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
.clearness a {
  color: #1e6ea7;
}
.clearness a:hover {
  color: #268bd2;
}
.clearness h1,
.clearness h2,
.clearness h3,
.clearness h4,
.clearness h5 {
  color: #404040;
}
.clearness h2 {
  border-bottom: 1px solid #cccccc;
  line-height: 1.7em;
}
.clearness h6 {
  color: #666666;
}
.clearness hr {
  border: 1px solid #e6e6e6;
}
.clearness pre > code {
  font-size: .9em;
  font-family: Consolas, Inconsolata, Courier, monospace;
}
.clearness blockquote {
  padding: 0 15px;
  font-style: italic;
}
.clearness blockquote:before {
  content: "\201C";
  font-size: 40px;
  margin-left: -20px;
  color: #aaa;
}
.clearness table {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 2px;
}
.clearness table tr th,
.clearness table tr td {
  border: 0px;
  padding: .2em 1em;
}
.clearness table tr th {
  border-bottom: 1px solid #bfbfbf;
}
.clearness table tr td {
  border-bottom: 1px solid #d9d9d9;
}
.clearness table tr:nth-child(2n) {
  background-color: #ffffff;
}
/**
 * after less
 */