/*
@import url(http://fonts.googleapis.com/css?family=Tauri);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
*/

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * solarized-light style
 * made by rhio.kim
 * powered by http://ethanschoonover.com/solarized
 */
.haroopad {
  padding: 20px;
  color: #222222;
  font-size: 15px;
  font-family: 'Roboto Condensed', 'Tauri', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', Verdana, Tahoma, sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
.haroopad a {
  color: #3269a0;
}
.haroopad a:hover {
  color: #4183c4;
}
.haroopad h2 {
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.7em;
}
.haroopad h6 {
  color: #777;
}
.haroopad hr {
  border: 1px solid #e6e6e6;
}
.haroopad p > code {
  font-family: Consolas, Inconsolata, Courier, monospace;
  color: #BD006A;
}
.haroopad pre > code {
  font-size: 1em;
  font-family: Consolas, Inconsolata, Courier, monospace;
  letter-spacing: -1px;
  font-weight: bold;
}
.haroopad blockquote {
  border-left: 4px solid #e6e6e6;
  padding: 0 15px;
  font-style: italic;
}
.haroopad table {
  background-color: #fafafa;
}
.haroopad table tr th,
.haroopad table tr td {
  border: 1px solid #e6e6e6;
}
.haroopad table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
/**
 * after less
 */
/*
.haroopad {
	
  img {
    .bordered(@border-color, @border-color, @border-color, @border-color);
    .rounded(3px);
    .box-shadow(0 0 7px darken(@border-color, 18%));

    &:hover {
	    -webkit-animation-duration: 1s;
	    -webkit-animation-delay: .2s;
    	.pulse;
    }
  }

  h1 {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .2s;
  	.tada;
  }

  &>ul {
  	&>li {
	    -webkit-animation-duration: .5s;
	    -webkit-animation-delay: .2s;
	  	.fadeInLeft;
	  }
  }

}
*/