/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * made by rhio.kim
 */
.metro-vibes {
  padding: 20px;
  color: #8e8071;
  font-size: 15px;
  font-family: 'Open Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
.metro-vibes a {
  color: #3269a0;
}
.metro-vibes a:hover {
  color: #4183c4;
}
.metro-vibes h1,
.metro-vibes h2,
.metro-vibes h3,
.metro-vibes h4,
.metro-vibes h5 {
  font-weight: 400;
  color: #5c5146;
  letter-spacing: -1px;
}
.metro-vibes h2 {
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.7em;
}
.metro-vibes h6 {
  color: #777;
}
.metro-vibes hr {
  border: 1px solid #e6e6e6;
}
.metro-vibes p {
  line-height: 19px;
}
.metro-vibes p > code {
  font-family: 'Open Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', sans-serif;
  color: #e86741;
  font-size: .9em;
}
.metro-vibes pre > code {
  font-size: 1em;
  font-family: 'Open Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', sans-serif;
  letter-spacing: -1px;
  font-weight: normal;
}
.metro-vibes blockquote {
  border-left: 4px solid #e6e6e6;
  padding: 0 15px;
  font-style: italic;
  color: #e86741;
}
.metro-vibes table {
  background-color: #fafafa;
}
.metro-vibes table tr th,
.metro-vibes table tr td {
  border: 1px solid #e6e6e6;
}
.metro-vibes table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
/**
 * after less
 */
/*
.haroopad {
	
  img {
    .bordered(@border-color, @border-color, @border-color, @border-color);
    .rounded(3px);
    .box-shadow(0 0 7px darken(@border-color, 18%));

    &:hover {
	    -webkit-animation-duration: 1s;
	    -webkit-animation-delay: .2s;
    	.pulse;
    }
  }

  h1 {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .2s;
  	.tada;
  }

  &>ul {
  	&>li {
	    -webkit-animation-duration: .5s;
	    -webkit-animation-delay: .2s;
	  	.fadeInLeft;
	  }
  }

}
*/