@import '../libs/bootswatch/paper/bootstrap.min.css';
@import '../libs/fontawesome/css/font-awesome.min.css';
@import 'general.css';
@import 'layout.css';
@import 'components.css';

#aboutExtensionModal img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

#aboutExtensionModal img:after {
    content: "\f1c5" " " attr(alt);

    font-size: 16px;
    font-family: FontAwesome;
    color: rgb(100, 100, 100);

    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
