.fileExtColor[data-ext="pdf"] {
  background-color: #f5897f !important;
}

.fileExtColor[data-ext^="jp"],
.fileExtColor[data-ext="bmp"],
.fileExtColor[data-ext="svg"],
.fileExtColor[data-ext="gif"],
.fileExtColor[data-ext="ico"],
.fileExtColor[data-ext="tif"],
.fileExtColor[data-ext="webp"],
.fileExtColor[data-ext="png"] {
  background-color: #9fd5ba !important;
}

.fileExtColor[data-ext^="doc"],
.fileExtColor[data-ext^="htm"],
.fileExtColor[data-ext^="md"],
.fileExtColor[data-ext="txt"],
.fileExtColor[data-ext="odt"] {
  background-color: #beefed !important;
  color: gray !important;
}

.fileExtColor[data-ext^="wav"],
.fileExtColor[data-ext="mp3"],
.fileExtColor[data-ext="ogg"],
.fileExtColor[data-ext="m4a"] {
    background-color: #e5c3ca !important;
}

.fileExtColor[data-ext="avi"],
.fileExtColor[data-ext="mp4"],
.fileExtColor[data-ext="webm"],
.fileExtColor[data-ext="ogv"],
.fileExtColor[data-ext="mkv"] {
    background-color: #efc0b8 !important;
}

.fileExtColor[data-ext^="xls"],
.fileExtColor[data-ext="ods"] {
    background-color: #c2f4a3 !important;
}

.fileExtColor[data-ext^="ppt"],
.fileExtColor[data-ext="odp"] {
    background-color: #ff9953 !important;
}

.fileExtColor[data-ext^="js"] {
  background-color: #d7ff78 !important;
  color: gray !important;
}

.fileExtColor[data-ext="rar"],
.fileExtColor[data-ext="gz"],
.fileExtColor[data-ext="tar"],
.fileExtColor[data-ext="tgz"],
.fileExtColor[data-ext="7z"],
.fileExtColor[data-ext="zip"] {
    background-color: #ffe766 !important;
}