.fileTile {
  margin: 3px;
  padding: 1px 1px 1px 3px;
  float: left;
  border: 1px solid #D4D4D4;
  text-align: left;
  width: 180px;
  height: 100px;
  overflow: hidden;
  position:relative;
  background-color: white;
}

.fileTile button:hover {
  opacity: 1;
}

.titleInFileTile {
  font-size: 13px;
  line-height: 120%;
  color: #333333;
  z-index: 99;
  position: absolute;
  left: 5px;
  top: 5px;
}

.tagsInFileTile {
  position: absolute;
  z-index: 100;
  left: 5px;
  top: 35px;
}

.fileTileSelector {
  position:absolute;
  bottom:0;
  left:0;
  z-index: 101;
}

.fileExtTile {
  position:absolute;
  bottom:0;
  right:0;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  background: #999 ;
  text-align: center;
  padding: 1px;
  color: white ;
  z-index: 99;
	text-transform:uppercase;
}

.fileTagsTile {
  opacity: 0.5;
}

.fileExtension {
  padding: 2px;
  float: right;
  color: white;
  font-weight: bold;
  background-color: gray;
}

.thumbImg {
  max-width: 100px;
  max-height: 100px;
  vertical-align: text-top;
  border: 0px lightgray solid;
}

.thumbImgTile {
  max-width: 100px;
  max-height: 100px;
  position:absolute;
  bottom:0;
  right:0;
  border: 0 lightgray solid;
  z-index: 1;
}