.tileContainer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.fileTile {
  margin: 5px;
  padding: 1px 1px 1px 3px;
  border: 1px solid #D4D4D4;
  text-align: left;
  height: 150px;
  max-width: 300px;
  overflow: hidden;
  position:relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  flex: 1 1 200px;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;
}

@media (max-width: 768px) {
  .fileTile {
    max-width: 500px;
  }
}

/*.fileTile button:hover {
  opacity: 1;
}*/

.titleInFileTile {
  font-size: 14px;
  line-height: 120%;
  color: #333333;
  background-color: white;
  opacity: 0.7;
  z-index: 99;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.ui-selected .titleInFileTile {
  background-color: #1DD19F;
}

.tagsInFileTile {
  position: absolute;
  z-index: 100;
  left: 2px;
  top: 35px;
  max-height: 48px;
  overflow: hidden;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.tagsInFileTile:hover {
  opacity: 1;
}

.fileTileSelector {
  border-radius: 3px;
  position:absolute;
  top:0;
  left:0;
  z-index: 101;
  background-color: rgba(220,220,220,0.7);
  margin: 5px;
  padding: 2px 4px 2px 4px;
}

.fileTileSelector:hover, .fileTileSelector:active, .fileTileSelector:focus {
  border-radius: 3px;
  background-color: rgba(220,220,220,0.7);
}

.fileExtTile {
  border-radius: 0 !important;
  text-align: center;
  padding: 1px;
  color: black ;
  z-index: 99;
	text-transform:uppercase;
}

.fileExtension {
  padding: 2px;
  float: right;
  color: white;
  font-weight: bold;
  background-color: gray;
}

.thumbImg {
  max-width: 100px;
  max-height: 100px;
  vertical-align: text-top;
  border: 0px lightgray solid;
}


