/* @import "~font-awesome/css/font-awesome.css"; */
@import "assets/loading.css";
@import "assets/scrollbars.css";
@import "assets/splitpane.css";
@import "assets/minireset.css";
@import "assets/rc-datetime.css";
@import "~rc-table/assets/index.css";
@import "~leaflet/dist/leaflet.css";

/* Needed to disable border on focused HotKey element */
div[tabindex="-1"]:focus {
  outline: 0;
}

.rc-table td {
  border-bottom: 1px solid #e9e9e91a;
}
