@import 'assets/loading.css';
@import 'assets/scrollbars.css';
@import 'assets/splitpane.css';
@import 'assets/minireset.css';
@import 'assets/rc-datetime.css';
@import 'assets/fonts/roboto/index.css';
@import '~rc-table/assets/index.css';
@import '~leaflet/dist/leaflet.css';
@import '~react-image-gallery/styles/css/image-gallery.css';

/* Needed to disable border on focused HotKey element */
div[tabindex='-1']:focus {
  outline: 0;
}

.rc-table td {
  border-bottom: 1px solid #e9e9e91a;
}

/* Fix for icon of broken thumbnails, disabled because does not work in list view */
/* img[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  content: attr(alt);
} */
