#jsonEditor {
    border-width: 0 !important;
    width: 100%; 
    height: 100%; 
}

/*.jsoneditor .menu {
    background-color: #ddd;
    border-bottom: 1px solid #97B0F8;
}

.jsoneditor .menu button {
    border: 1px solid #aec0f8;
    background: #e3eaf6 url("img/jsoneditor-icons.png");
    color: #4D4D4D;
}*/