#perspectiveGraphContainer .axis path,
#perspectiveGraphContainer .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#perspectiveGraphContainer .bar {
  fill: steelblue;
}

#perspectiveGraphContainer .x.axis path {
  display: none;
}