<div id="directoryBrowserDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 99999">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <h4 id="directoryBrowserDialogTitle" data-i18n="ns.dialogs:selectDialogTitle">Select Directory</h4>
            </div>
            <div class="modal-body" >
                <div class="form-group">
                    <label class="control-label" for="directoryPath" data-i18n="ns.dialogs:selectDialogCurrentPath">Current Path</label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="directoryPath" id="directoryPath" />
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-default" title="Go to parent directory" id="gotoParentDirButton">
                           <i class="fa fa-mail-reply"></i>
                        </button>
                        <div class="panel-body" id="subdirectoriesArea" style="overflow-y: auto; max-height: 350px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <button id="selectDirectoryButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->