<div id="directoryBrowserDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 99999">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <h4 id="directoryBrowserDialogTitle" data-i18n="ns.dialogs:selectDialogTitle">Select Directory</h4>
            </div>
            <div class="modal-body" >
                <div class="form-group">
                    <label class="control-label" for="directoryPath" data-i18n="ns.dialogs:selectDialogCurrentPath">Current Path</label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="directoryPath" id="directoryPath" />
                </div>
                <div class="form-group" style="display: none;" id="driveSelectorForm">
                    <label class="control-label" for="directoryPath" data-i18n="ns.dialogs:selectDrive">Change Drive</label>
                    <select class="form-control" id="driveSelector">
                        <option value="" selected="selected">Choose Drive</option>
                        <option value="A:">A:</option>
                        <option value="B:">B:</option>
                        <option value="C:">C:</option>
                        <option value="D:">D:</option>
                        <option value="E:">E:</option>
                        <option value="F:">F:</option>
                        <option value="G:">G:</option>
                        <option value="H:">H:</option>
                        <option value="I:">I:</option>
                        <option value="J:">J:</option>
                        <option value="K:">K:</option>
                        <option value="L:">L:</option>
                        <option value="M:">M:</option>
                        <option value="N:">N:</option>
                        <option value="O:">O:</option>
                        <option value="P:">P:</option>
                        <option value="Q:">Q:</option>
                        <option value="R:">R:</option>
                        <option value="S:">S:</option>
                        <option value="T:">T:</option>
                        <option value="U:">U:</option>
                        <option value="V:">V:</option>
                        <option value="W:">W:</option>
                        <option value="X:">X:</option>
                        <option value="Y:">Y:</option>
                        <option value="Z:">Z:</option>
                    </select>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-default" title="Go to parent directory" id="gotoParentDirButton">
                           <i class="fa fa-mail-reply"></i>
                        </button>
                        <div class="panel-body" id="subdirectoriesArea" style="overflow-y: auto; max-height: 350px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <button id="selectDirectoryButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->