<div id="dialogDirectoryRename" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times fa-lg"></i>
                </button>
                <h4 data-i18n="ns.dialogs:renameDirectoryTitle"></h4>
            </div>
            <div class="modal-body form">
                <form role="form" data-toggle="validator" id="formDirectoryRename">
                    <div class="form-group">
                        <label class="control-label" for="directoryNewName" data-i18n="ns.dialogs:renameDirectoryTitleName"></label>
                        <input class="form-control" type="text" id="directoryNewName"
                               pattern='^([^#/\\:*?<>|"]){1,}$' data-i18n="[data-error]ns.dialogs:directoryNameHelp" required />
                        <p class="help-block with-errors"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <button id="renameDirectoryButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->