<div id="directoryBrowserDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 99999">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="directoryBrowserDialogTitle">Select Directory</h4>
        </div>
        <div class="modal-body">
            <div class="row" id="directoryPath">
                
            </div>    
            <div class="row" id="subdirectoriesArea">
            </div>    
        </div>
        <div class="modal-footer">
            <button id="startDir" class="btn">Start Dir</button>            
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="selectDirectoryButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Ok</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->