<div id="dialogFileProperties" class="modal fullScreenMobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 data-i18n="ns.dialogs:filePropertiesTitle">File Properties</h4>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <label class="control-label" for="filePathProperty" data-i18n="ns.dialogs:filePropertiesPath"></label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="filePathProperty" id="filePathProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileSizeProperty" data-i18n="ns.dialogs:filePropertiesSize"></label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="fileSizeProperty" id="fileSizeProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileLMDTProperty" data-i18n="ns.dialogs:filePropertiesLMDT"></label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="fileLMDTProperty" id="fileLMDTProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileTagsProperty" data-i18n="ns.dialogs:filePropertiesTags"></label>
                    <span class="form-control"  name="fileTagsProperty" id="fileTagsProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileDescriptionProperty" data-i18n="ns.dialogs:fileDescriptionProperty"></label>
                    <textarea class="form-control uneditable-input" rows="4" type="text" name="fileDescriptionProperty"
                              id="fileDescriptionProperty" placeholder="File description can be added here in TagSpaces PRO"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="filePropertiesDialogButton" class="btn btn-default btn-primary" data-dismiss="modal" aria-hidden="true">
                  <span data-i18n="ns.dialogs:ok"></span>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->