<div id="dialogFileProperties" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times fa-lg"></i>
                </button>
                <h4 data-i18n="ns.dialogs:filePropertiesTitle">File Properties</h4>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <label class="control-label" for="filePathProperty" data-i18n="ns.dialogs:filePropertiesPath">Path</label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="filePathProperty" id="filePathProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileSizeProperty" data-i18n="ns.dialogs:filePropertiesSize">Size in Bytes</label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="fileSizeProperty" id="fileSizeProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileLMDTProperty" data-i18n="ns.dialogs:filePropertiesLMDT">Last Modified Datetime</label>
                    <input class="form-control uneditable-input" readonly="true" type="text" name="fileLMDTProperty" id="fileLMDTProperty" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileTagsProperty" data-i18n="ns.dialogs:filePropertiesTags">Tags</label>
                    <span class="form-control"  name="fileTagsProperty" id="fileTagsProperty" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->