<div id="dialogLocationEdit" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <h4 data-i18n="ns.dialogs:editLocationTitle">Edit Location1</h4>
            </div>
            <div class="modal-body form">
                <!--form role="form" data-toggle="validator" id="formLocationEdit"-->
                    <div class="form-group">
                        <label class="control-label" for="folderLocation2" data-i18n="ns.dialogs:editLocationPath">Location Path</label>
                        <div class="input-group">
                            <input class="form-control" type="text" name="folderLocation2" id="folderLocation2" data-i18n="[placeholder]ns.dialogs:locationPathPlaceholder" required/>
                            <span class="input-group-btn">
                                <button class="btn btn-deafault" id="selectLocalDirectory2" data-i18n="[title]ns.dialogs:locationPathSelectFolder">
                                    &nbsp;&nbsp;<i class="fa fa-folder-open"></i>&nbsp;&nbsp;
                                </button> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="connectionName2" data-i18n="ns.dialogs:editLocationName">Location Name</label>
                        <input class="form-control" type="text" name="connectionName2" id="connectionName2"
                               pattern='^([^"]){1,}$' data-i18n="[placeholder]ns.dialogs:locationNamePlaceholder;[data-error]ns.dialogs:locationNameHelp" required />
                        <p class="help-block with-errors"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="locationPerspective2" data-i18n="ns.dialogs:editLocationDefaultPerspective">Default Perspective</label>
                        <select class="form-control" name="locationPerspective2" id="locationPerspective2" ></select>
                    </div>
                <!--/form-->
            </div>
            <div class="modal-footer">
                <button id="deleteLocationButton" class="btn btn-danger pull-left" aria-hidden="true" data-i18n="ns.dialogs:removeLocation">Remove Location</button>
                <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <button id="saveLocationButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 