<div id="dialogCreateFolderConnection" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <h4 data-i18n="ns.dialogs:createLocationTitle">Connect a Location</h4>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <label class="control-label" for="folderLocation" data-i18n="ns.dialogs:createLocationPath">Location Path</label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="folderLocation" id="folderLocation" data-i18n="[placeholder]ns.dialogs:locationPathPlaceholder"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="selectLocalDirectory" data-i18n="[title]ns.dialogs:locationPathSelectFolder">
                                &nbsp;&nbsp;<i class="fa fa-folder-open"></i>&nbsp;&nbsp;
                            </button> </span>
                    </div><!-- /input-group -->
                </div>
                <div class="form-group">
                    <label class="control-label" for="connectionName" data-i18n="ns.dialogs:createLocationName">Location Name</label>
                    <input class="form-control" type="text" name="connectionName" id="connectionName" data-i18n="[placeholder]ns.dialogs:locationNamePlaceholder"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="locationPerspective" data-i18n="ns.dialogs:createLocationDefaultPerspective">Default Perspective</label>
                    <select class="form-control" name="locationPerspective" id="locationPerspective" ></select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <button id="createFolderConnectionButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
