<div id="dialogCreateFolderConnection" class="modal fullScreenMobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" data-toggle="validator" id="formLocationCreate">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 data-i18n="ns.dialogs:createLocationTitle"></h4>
                </div>
                <div class="modal-body form">
                    <div class="form-group">
                        <label class="control-label" for="folderLocation" data-i18n="ns.dialogs:createLocationPath"></label>
                        <div class="input-group">
                            <input class="form-control" type="text" name="folderLocation" id="folderLocation" data-i18n="[placeholder]ns.dialogs:locationPathPlaceholder" required/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="selectLocalDirectory" data-i18n="[title]ns.dialogs:locationPathSelectFolder">
                                    &nbsp;&nbsp;<i class="fa fa-folder-open"></i>&nbsp;&nbsp;
                                </button> </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="connectionName" data-i18n="ns.dialogs:createLocationName"></label>
                        <input class="form-control" type="text" name="connectionName" id="connectionName"
                               pattern='^([^"]){1,}$' data-i18n="[placeholder]ns.dialogs:locationNamePlaceholder;[data-error]ns.dialogs:locationNameHelp" required />
                        <p class="help-block with-errors"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="locationPerspective" data-i18n="ns.dialogs:createLocationDefaultPerspective"></label>
                        <select class="form-control" name="locationPerspective" id="locationPerspective" ></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="defaultLocation" data-i18n="ns.dialogs:startupLocation"></label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="defaultLocation">
                                <label class="onoffswitch-label" for="defaultLocation">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left cancelButton" data-dismiss="modal" aria-hidden="true">
                      <span data-i18n="ns.dialogs:cancel"></span>
                    </button>
                    <button id="createFolderConnectionButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" type="submit">
                      <span data-i18n="ns.dialogs:ok"></span>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
