<div id="dialogMoveCopyFiles" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-times"></i>
        </button>
        <h4 data-i18n="ns.dialogs:copyMoveFilesTitle"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" data-i18n="ns.dialogs:filesToProceed"></label>
          <div id="moveCopyFileList" class="well well-sm" style="overflow: auto; max-height: 200px;"></div>
        </div>
        <div class="form-group">
          <label class="control-label" data-i18n="ns.dialogs:moveCopyToPath"></label>
          <div class="input-group">
            <input class="form-control" type="text" id="moveCopyDirectoryPath"/>
            <span class="input-group-btn">
                <button class="btn btn-default" id="selectDirectoryMoveCopyDialog"
                        data-i18n="[title]ns.dialogs:locationPathSelectFolder">
                  &nbsp;&nbsp;<i class="fa fa-folder-open"></i>&nbsp;&nbsp;
                </button>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left cancelButton" data-dismiss="modal" aria-hidden="true">
          <span data-i18n="ns.dialogs:cancel"></span>
        </button>
        <button id="moveFilesButton" class="btn btn-warning" data-dismiss="modal" aria-hidden="true"
                data-i18n="ns.dialogs:moveFilesButton"></button>
        <button id="copyFilesButton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"
                data-i18n="ns.dialogs:copyFilesButton"></button>
      </div>
    </div>
  </div>
</div>