<div id="dialogWelcome" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                <h4 data-i18n="ns.dialogs:welcomeDialogTitle">Welcome to TagSpaces</h4>
            </div>
            <div class="modal-body">
                <div id="welcomeCarosel" class="carousel slide" data-ride="carousel" style="width: 100%; height: 100%">
                  <ol class="carousel-indicators">
                    <li data-target="#welcomeCarosel" style="background-color: gray" data-slide-to="0" class="active"></li>
                    <li data-target="#welcomeCarosel" style="background-color: gray" data-slide-to="1"></li>
                    <li data-target="#welcomeCarosel" style="background-color: gray" data-slide-to="2"></li>
                  </ol>            
                  <div class="carousel-inner">
                    <div class="item active"> 
                      <img src="assets/welcome-screen-1.png" style="margin: 0 auto; max-width: 100%; max-height: 100%" />
                      <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                      <img src="assets/welcome-screen-2.png" style="margin: 0 auto; max-width: 100%; max-height: 100%" />
                      <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                      <img src="assets/welcome-screen-3.png" style="margin: 0 auto; max-width: 100%; max-height: 100%" />
                      <div class="carousel-caption"></div>
                    </div>
                  </div>              
                  <a class="left carousel-control" style="background-image: none;" href="#welcomeCarosel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" style="background-image: none;" href="#welcomeCarosel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check fa-lg"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->