<div id="welcomeScreen" style="width: 100%; height: 100%;">
    <img src="assets/welcome-logo.svg" style="overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
</div>
<!--div id="welcomeScreen" class="carousel slide" data-ride="carousel" style="width: 100%; height: 100%">
  <ol class="carousel-indicators">
    <li data-target="#welcomeScreen" style="background-color: gray" data-slide-to="0" class="active"></li>
    <li data-target="#welcomeScreen" style="background-color: gray" data-slide-to="1"></li>
  </ol>            
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="assets/welcome-screen-1.png" style="margin: 0 auto; max-width: 100%; max-height: 100%">
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <img src="" style="max-width: 100%; max-height: 100%">
      <div class="carousel-caption"></div>
    </div>
  </div>              
  <a class="left carousel-control" href="#welcomeScreen" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#welcomeScreen" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div-->