.rc-table-content {
  border: none;
}

.rc-table-cell {
  border: none;
}

.rc-table-cell:hover {
  background-color: #dcf3ec;
}

.rc-table td {
  border: none;
  padding: 8px;
  /*border-bottom: 1px solid #e9e9e91a;*/
}
