[Desktop Entry]
Encoding=UTF-8
Name=Link to TagSpaces website
Type=Link
URL=https://tagspaces.org
Icon=application-javascript
Name[en_US]=sample.desktop
