html, body {
    height: 100%;
}

.note-editor {
    border-width: 0 !important;
    height: 90%;
}

.note-codable {
    overflow: auto;
}

.note-editable {
    overflow: auto;
}

/* Custom scrollbars for chrome */
::-webkit-scrollbar-track
{
    background-color: transparent;
}

::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #bbb;
}