.note-editor {
    border-width: 0 !important;
    width: 100%; 
    height: 99% !important;
}

.note-codable {
    height: 95% !important;
    overflow: auto;
}

.note-editable {
    height: 95% !important;
    overflow: auto;    
    font-size: 140%;
}

/* partially fixes the resize issue in IE
#viewer {
    background-color: white;
    width: 100%;
    height: 90% !important;
}*/
