@import 'assets/loading.css';
@import 'assets/scrollbars.css';
@import 'assets/minireset.css';
@import 'assets/fonts/roboto/index.css';
@import '~rc-table/assets/index.css';
@import 'assets/rc-table.css';
@import '~leaflet/dist/leaflet.css';
@import '~react-image-gallery/styles/css/image-gallery.css';
@import "~slick-carousel/slick/slick.css"; /* used from react-slick */
@import "~slick-carousel/slick/slick-theme.css";
@import '~react-leaflet-markercluster/styles';
@import "~@milkdown/crepe/theme/common/style.css";
@import "~@milkdown/crepe/theme/frame.css";

/* Needed to disable border on focused HotKey element */
div[tabindex='-1']:focus {
  outline: 0;
}

.tagspaces-main-color {
  color: #1dd19f;
}

html,
body {
  overscroll-behavior-x: none;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.react-split > .split-container.vertical > .splitter {
  z-index: 1;
}

.rc-table-row-expand-icon {
  width: 13px !important;
  height: 13px !important;
  line-height: 13px !important;
  margin: 5px;
  cursor: pointer;
}

.full-height {
  height: 100%;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.dark .milkdown {
  --crepe-color-background: #1f1b16;
  --crepe-color-on-background: #eae1d9;
  --crepe-color-surface: #18120b;
  --crepe-color-surface-low: #201b13;
  --crepe-color-on-surface: #ede0d4;
  --crepe-color-on-surface-variant: #d3c4b4;
  --crepe-color-outline: #9c8f80;
  --crepe-color-primary: #f4bd6f;
  --crepe-color-secondary: #56442a;
  --crepe-color-on-secondary: #fbdebc;
  --crepe-color-inverse: #ede0d4;
  --crepe-color-on-inverse: #362f27;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-error: #ffb4ab;
  --crepe-color-hover: #251f17;
  --crepe-color-selected: #3b342b;
  --crepe-color-inline-area: #3f3830;

  --crepe-font-title: Georgia, Cambria, 'Times New Roman', Times, serif;
  --crepe-font-default: 'Open Sans', Arial, Helvetica, sans-serif;
  --crepe-font-code:
          Fira Code, Menlo, Monaco, 'Courier New', Courier, monospace;

  --crepe-shadow-1:
          0px 1px 2px 0px rgba(255, 255, 255, 0.3),
          0px 1px 3px 1px rgba(255, 255, 255, 0.15);
  --crepe-shadow-2:
          0px 1px 2px 0px rgba(255, 255, 255, 0.3),
          0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}
