@import 'assets/loading.css';
@import 'assets/scrollbars.css';
@import 'assets/minireset.css';
@import 'assets/fonts/roboto/index.css';
@import '~leaflet/dist/leaflet.css';
@import 'assets/milkdown.css';

/* Needed to disable border on focused HotKey element */
div[tabindex='-1']:focus {
  outline: 0;
}

html,
body {
  overscroll-behavior-x: none;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.full-height {
  height: 100%;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
