on: pull_request
name: PR

jobs:
  #  gitHubActionForNpm:
  #    name: Validating Ubuntu
  #    runs-on: ubuntu-latest

  #    steps:
  #      - name: Checking out default branch
  #        uses: actions/checkout@v2
  #        with:
  #          submodules: true
  #      - uses: actions/setup-node@v2
  #        with:
  #          node-version: '10.x'
  #      - name: Install display server dependencies
  #        run: |
  #          sudo apt-get install xvfb libxtst6 libxss1 libgtk2.0-0 -y
  #      - name: Install core libraries for chromium driver
  #        run: |
  #          sudo apt-get install libnss3 libasound2 libgconf-2-4 libgbm1 -y
  #      - name: Running yarn install, prettier and type checks
  #        run: |
  #          yarn install --force --check-files --cache-folder .ycache
  #          yarn prettier-check
  #          yarn type-check
  #      - name: Run Unit tests
  #        run: yarn test-unit

  e2eTestsWin:
    name: Test Desktop App Windows
    runs-on: windows-latest
    env:
      PD_PLATFORM: node
    steps:
      - name: Checking out default branch
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Checkout TestData
        uses: actions/checkout@v2
        with:
          repository: tagspaces/testdata
          path: tests/testdata
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Running yarn install, prettier and type checks
        run: |
          yarn install --check-files --cache-folder .ycache
          yarn prettier-check
          yarn type-check
      - name: Run Unit tests
        run: yarn test-unit
      - name: Run Electron tests
        run: |
          yarn install-ext-node
          yarn build-e2e
          yarn test-playwright
      - uses: IgnusG/jest-report-action@v2.3.3
        if: always() # Run regardless of whether other steps failed
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          check-name: Report Desktop App Windows
          working-directory: tests
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-artifacts
          path: |
            tests/test-pages/
            tests/test-reports/
  e2eTestsWebWin:
    name: Test Web App Windows
    runs-on: windows-latest
    env:
      PD_PLATFORM: web
    steps:
      - name: Checking out default branch
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Checkout TagspacesPro
        uses: actions/checkout@v2
        with:
          ref: develop
          repository: tagspaces/tagspacespro
          token: ${{ secrets.CHECKOUT_TSPRO  }}
          path: extensions/tagspacespro
      - name: Checkout TestData
        uses: actions/checkout@v2
        with:
          repository: tagspaces/testdata
          path: tests/testdata
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Running yarn install, prettier and type checks
        run: |
          yarn install --check-files --cache-folder .ycache
          yarn prettier-check
          yarn type-check
      - name: Run Unit tests
        run: yarn test-unit
      - uses: suisei-cn/actions-download-file@v1
        id: minio
        name: Download the Minio.exe
        with:
          url: 'https://dl.min.io/server/minio/release/windows-amd64/minio.exe'
          target: tests/bin/
      - name: Run Electron tests
        run: |
          yarn install-ext-web
          yarn build-e2e-web
          yarn test-playwright-web-headless
      - uses: IgnusG/jest-report-action@v2.3.3
        if: always() # Run regardless of whether other steps failed
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          check-name: Report Web App Windows
          working-directory: tests
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-artifacts-web
          path: |
            tests/test-pages/
            tests/test-reports/
  # gitHubActionForNpmMac:
  #  name: Validating MacOS
  #  runs-on: macos-latest
  #  steps:
  #    - name: Checking out default branch
  #      uses: actions/checkout@v2
  #      with:
  #        submodules: true
  #    - uses: actions/setup-node@v2
  #      with:
  #        node-version: '10.x'
  #    - name: Running yarn install, prettier and type checks
  #      run: |
  #        yarn install --check-files --cache-folder .ycache
  #        yarn prettier-check
  #        yarn type-check
  #    - name: Run Unit tests
  #      run: yarn test-unit
  #    - name: Run Electron tests
  #      run: |
  #        yarn install-ext
  #        yarn build-main
  #        yarn build-e2e
  #        yarn test-playwright
