name: manual workflow dispatch trigger
on:
  workflow_dispatch:
    inputs:
      command:
        description: 'Command to execute e2e tests default: yarn test-e2e-electron-minio'
        required: true
        default: 'test-e2e-electron-minio'

jobs:
  e2eTests:
    runs-on: windows-latest
    steps:
      - name: Checking out default branch
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Checkout TestData
        uses: actions/checkout@v2
        with:
          repository: tagspaces/testdata
          path: tests/testdata
      - name: Checkout TagspacesPro
        uses: actions/checkout@v2
        with:
          repository: tagspaces/tagspacespro
          token: ${{ secrets.CHECKOUT_TSPRO  }}
          path: extensions/tagspacespro
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - name: Running yarn install, prettier and type checks
        run: |
          yarn install --check-files --cache-folder .ycache
          yarn prettier-check
          yarn type-check
      - name: Run Unit tests
        run: yarn test-unit
      - uses: suisei-cn/actions-download-file@v1
        id: minio
        name: Download the Minio.exe
        with:
          url: 'https://dl.min.io/server/minio/release/windows-amd64/minio.exe'
          target: tests/bin/
      - name: Run Electron tests
        run: |
          yarn install-ext
          yarn build-main
          yarn build-e2e
          yarn ${{ github.event.inputs.command }}
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test-pages
          path: tests/test-pages/
      - uses: IgnusG/jest-report-action@v2.3.3
        if: always() # Run regardless of whether other steps failed
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: tests
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-artifacts
          path: |
            tests/test-pages/
            tests/test-reports/
