name: Nightly E2E Tests Web Minio Windows
on:
  schedule:
    - cron: '0 2 * * *'

jobs:
  e2eTestsWebWin:
    name: Test Web App Windows
    runs-on: windows-latest

    steps:
      - name: Checking out default branch
        uses: actions/checkout@v2
        with:
          ref: develop
          submodules: true
      - name: Checkout TagspacesPro
        uses: actions/checkout@v2
        with:
          repository: tagspaces/tagspacespro
          token: ${{ secrets.CHECKOUT_TSPRO  }}
          path: extensions/tagspacespro
      - name: Checkout TestData
        uses: actions/checkout@v2
        with:
          repository: tagspaces/testdata
          path: tests/testdata
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Running npm install, prettier and type checks
        run: |
          npm install
          npm run prettier-check
          npm run type-check
      - name: Run Unit tests
        run: npm run test-unit
      - uses: suisei-cn/actions-download-file@v1
        id: minio
        name: Download the Minio
        with:
          url: 'https://dl.min.io/server/minio/release/windows-amd64/minio.exe'
          target: tests/bin/
      - name: Run Electron tests
        run: |
          npm run install-ext-web
          npm run build-e2e-web
          npm run test-playwright-web-headless
      - uses: IgnusG/jest-report-action@v2.3.3
        if: always() # Run regardless of whether other steps failed
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          check-name: Report Web App Windows
          working-directory: tests
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-artifacts
          path: |
            tests/test-pages/
            tests/test-reports/
